@import 'edx-bootstrap';

.badge-download {

  a {
    font-weight: bold !important;
    text-transform: uppercase !important;
    text-decoration: none !important;
    color: #767676 !important;

    :hover {
      color: #000000 !important;
    }
  }

}
