@import 'edx-bootstrap';

.progress-card-list-item {

  .badge-name {

    min-width: 400px;

    img {
      max-height: 50px;
      max-width: 50px;
    }

    h3 {
      display: inline-block;
      margin-left: 20px;
    }
  }

}
