
.modal-progress-details {

  .modal {

    .modal-dialog {

      min-width: 60%;

      .modal-content {

        padding: 15px;

        .modal-body {

          .progress-details {

            text-align: left;

            .progress-details-header {

              .progress-details-title {

                h2 {
                  font-size: 30px;
                  font-weight: lighter;
                }

              }

              .progress-details-description {

                p {
                  font-size: 16px;
                }

              }

            }

            .progress-details-body {

              .progress-details-image {

                img {
                  max-width: 70%;
                  margin: 0px 40px;
                }

                button {
                  max-width: 70%;
                  width: 100%;
                  margin: 5px 40px;
                }

              }

              .progress-details-meta {

                .progress-details-meta-earned,
                .progress-details-meta-recipient,
                .progress-details-meta-criteria,
                .progress-details-meta-issuer {

                  h3 {
                    color: #767676 !important;
                  }

                  margin-bottom: 20px;

                }

                .progress-details-meta-issuer {

                  ul {

                    li {
                      list-style: none;

                      img {
                        width: 40px;
                        height: 40px;
                      }
                    }

                  }

                }

              }

            }

            .progress-details-share {

              background-color: #f2f2f2;

              a {
                font-weight: bold;
              }

              .progress-details-share-instructions {

                padding-bottom: 0px !important;

                .share-introduction {

                  hr {
                    border-color: rgba(0,0,0,0.30);
                  }

                }

              }

              .progress-details-share-badgr-instructions {

                padding: 0px 10px 10px 10px !important;

                .badgr-instructions {

                  ol {
                    padding-left: 20px;
                    list-style: none;
                    list-style-position: outside;
                    display: table;
                    margin: 1em 0;
                    margin-block-start: 1em;
                    margin-block-end: 1em;
                    margin-inline-start: 0px;
                    margin-inline-end: 0px;
                    padding-inline-start: 40px;
                    /*counter-reset: badgr-instr-counter;*/

                    li {
                      //list-style: none;
                      list-style-type: decimal;
                      //counter-increment: badgr-instr-counter;

                      /*
                      &:before {
                        content: counter(badgr-instr-counter) ". ";
                        color: #444444;
                        font-weight: bold;
                      }*/
                    }

                  }

                }

                .badgr-image {

                  display: inline-block;
                  background-color: #525dc7;
                  padding: 10px;
                  max-height: 120px;

                  img {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    left: 18px;
                  }

                }

              }

            }

          }

        }

      }

    }

  }

}
